.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.product-card {
  /* border: 1px solid #b87171;  */
  background-color: rgb(115, 115, 191);
  padding: 10px;
  text-align: center;
}

.product-card img{
  max-width: 100%;
  border-radius: 25px;
  transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}
img:hover{
  transform : scale(1.25);
 -moz-transform : scale(1.25);
 -webkit-transform : scale(1.25);
 -o-transform : scale(1.25);
 -ms-transform : scale(1.25);
}

.product-card h3 {
  margin: 10px 0;
}

.product-card span {
  font-weight: bold;
}
button{
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
